
.Navbar{
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #0E6199;
    margin: 10px;
    gap: 30px;
    border-radius: 15px;
    /* color: white; */
    height: 75px;
}
.search-bar-container{
    display: flex;
    align-items:center;
    background-color: rgb(255, 255, 255);
    padding: 9px;
    gap: 100px;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 40px;
}
.button-danh-muc{
    background-color: #93C8ED;
    border-radius: 10px;
    padding: 6px;
    color: white;
    justify-content: space-between;
}.button-danh-muc:hover{
    background-color: #48b3ff;
}


.button-hotline{
    background-color: #93C8ED;
    border-radius: 10px;
    padding: 6px;
    color: white;
    display: flex;
}.button-hotline:hover{
    background-color: #48b3ff;
}

.button-signin{
    background-color: #93C8ED;
    display: flex;
    border-radius: 10px;
    padding: 6px;
    margin: 20px;
    color: white;
    width: 100px;
    /* transition: all 0.5s; */
}
.button-signin:hover{
    cursor: pointer;
    background-color: #48b3ff;
    width: 120px;
    /* padding-left: 20px; */
    margin: 10px;
}

.cart-popup, .Log-popup {
    position: absolute;
    top: 90px; /* Adjust as needed */
    right: 40px; /* Adjust as needed */
    background-color: #DCEDF9;
    border: 2px solid #093D61;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-shadow: #0C5282;
    border-radius: 20px;
  }
.cart-button{
    cursor: pointer;
}
.noti-popup{
    position: absolute;
    top: 90px; /* Adjust as needed */
    right: 230px; /* Adjust as needed */
    background-color: #DCEDF9;
    border: 2px solid #093D61;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-shadow: #0C5282;
    border-radius: 20px;
}
.search-input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 40px;
}

.profile{
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;

}
.pro5-dropdown{
    cursor: pointer;
    position:absolute;
    display:none;
    top: 20px;
    right: 0;
    z-index:1;
}

.profile:hover .pro5-dropdown{
    display: flex;
    flex-direction: column;
    color: black;
    gap:10px;
    background-color: #ffffff;
    padding: 12px 25px;
    border: #48b3ff solid 2px;
    border-radius: 15px;
    width: max(200px, 15vw);
}


@media screen and (max-width: 999px){
    .button-danh-muc{
        display: none;
    }
    .button-hotline{
        display: none;
    }

    .cart-popup{
        display: none;
    }
    .noti-icon, .noti-popup{
        display: none;
    }
    .loged-indicator p{
        display: none;
    }
}