

.Navbar{
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #0E6199;
    margin: 10px;
    gap: 30px;
    border-radius: 15px;
    /* color: white; */
    height: 75px;
}
.search-bar-container{
    display: flex;
    gap: 30px;
    align-items:end;
    background-color: white;
    padding: 9px;
    gap: 100px;
    justify-content: space-between;
    border-radius: 20px;
}
.button-danh-muc{
    background-color: #93C8ED;
    border-radius: 10px;
    padding: 6px;
    color: white;
    justify-content: space-between;
}.button-danh-muc:hover{
    background-color: #48b3ff;
}


.button-hotline{
    background-color: #93C8ED;
    border-radius: 10px;
    padding: 6px;
    color: white;
    display: flex;
}.button-hotline:hover{
    background-color: #48b3ff;
}

.button-signin{
    background-color: #93C8ED;
    display: flex;
    border-radius: 10px;
    padding: 6px;
    margin: 10px;
    color: white;
    justify-content: space-between;
    width: 100px;
    transition: all 0.5s;

}
.button-signin:hover{
    cursor: pointer;
    background-color: #48b3ff;
    width: 120px;
    padding-left: 20px;

}

.cart-popup {
    position: absolute;
    top: 90px; /* Adjust as needed */
    right: 40px; /* Adjust as needed */
    background-color: #DCEDF9;
    border: 2px solid #093D61;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-shadow: #0C5282;
    border-radius: 20px;
  }
.cart-button{
    cursor: pointer;
}
.noti-popup{
    position: absolute;
    top: 90px; /* Adjust as needed */
    right: 230px; /* Adjust as needed */
    background-color: #DCEDF9;
    border: 2px solid #093D61;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-shadow: #0C5282;
    border-radius: 20px;
}